{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Login" %}
{% endblock %}

{% block main %}

<h1>{% trans "Login" %}</h1>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button
        type="submit"
        style="background-color: green; color: white; padding: 8px 15px;"
    >
        {% trans "Login" %}
    </button>
</form>

{% if form.errors %}
    <p style="color:red;">
        {% trans "Incorrect username or password" %}
    </p>
{% endif %}

<p>
    <a href="{% url 'register' %}">
        {% trans "Register" %}
    </a>
</p>

{% endblock %}