<!DOCTYPE html>
<html>
<head>
    <title>Phone List</title>
</head>
<body>
    <h1>Phone List</h1>
    <a href="{% url 'phone_create' %}">Add new phone</a>
    <ul>
        {% for phone in phones %}
            <li>
                {{ phone.name }} - ${{ phone.price }}
                <a href="{% url 'phone_update' phone.id %}">Edit</a>
                <a href="{% url 'phone_delete' phone.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No phones available.</li>
        {% endfor %}
    </ul>
</body>
</html>